
section {
    display: block
}

* {
    box-sizing: border-box
}

body,html {
    height: 100%
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #282828;
    z-index: 0
}

.btn {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #5cb85c;
    padding: 15px 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

.btn:hover {
    background-color: #4cae4c
}

.btn:active {
    background-color: #449d44
}

.btn--accent {
    opacity: .5;
    background-color: #eb5c4c
}

.btn--accent:hover {
    background-color: #e84735
}

.btn--accent:active {
    background-color: #e6321e
}

.btn--accent.next {
    margin-right: 4px;
}

section.content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    z-index: 1
}

.step {
    width: 90%;
    max-width: 400px;
    display: none;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: hsla(0,0%,100%,.9);
    border-radius: 8px;
    border-bottom: 1px solid rgba(0,0,0,.4);
    overflow: hidden
}

.step:first-child {
    display: block
}

.step__body {
    text-align: left;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.05)
}

.step__body p {
    font-size: 1em;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 1em;
}

.step__body p:last-child {
    margin-bottom: 0
}

.step__footer {
    text-align: center;
    padding: 15px 20px
}

.bg {
    position: fixed;
    z-index: 0
}

.bg,.bg__item {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.bg__item {
    display: none;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative
}

.bg__item:first-child {
    background-image: url("../img/1-min.jpg")
}

.bg__item.active {
    display: block
}

.bg__item:after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0,0,0,.4)
}

@media (min-width: 320px) and (max-width:767px) {
    .bg__item:first-child {
        background-image:url("../img/m1-min.jpg")
    }
}

