*{
    margin:0;
    padding:0}
:focus{
    outline:0}
img{
    border:0;
    max-width:100%}
html,body{
    height:100%}
ol,ul{
    list-style:none}
html{
    font-size:62.5%;
    -webkit-text-size-adjust:none}
body{
    background: url(../img/BG.jpg);
    background-size: cover;
    background-position: center top;
    font-family:Arial,sans-serif;
    color:#000;
    font-size:1.6rem;
    line-height:1.3}
.bg{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-repeat:no-repeat;
    background-position:center top;
    background-size:contain}

.container{
    text-align:center;
    height:100%}
.container:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle}
.step-block{
    max-width: 400px;
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    margin: 2rem 0;
    background: rgba(16,21,72,0.7);
    box-shadow: 0 0px 0px 30px rgba(255,255,255,0.2);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 100;
    color: #000;
}
.step{
    display:none}
.step:first-child{
    display:block}
.step-header{
    text-align:center;
    border-radius:5px 5px 0 0;
    background: linear-gradient(#61110c, #a72a32);
    overflow:hidden}
.step-header h2{
    font-weight: 600;
    font-size:1.8rem;
    color: #fff;
    padding:2rem 1rem}
.step-header h3{
    color:#fff;
    padding:2rem 1rem}
.step-header ul{
    padding:2rem 1rem;
}
.step-header li{
    display: inline-block;
    margin: 0 .8rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 2.2rem;
    border: 1px solid #fff;
}
.step-header li.active{
    background: #fff;
    color: #000;
}

.step-inner{
    padding:2rem}
.step p{
    margin-bottom:1.5rem;
    color: #fff;
    font-size:2rem}
.load-step p{
    font-size:2rem}
.load-step .step-inner {
    padding: 0;
}
.load-step .step-inner img {
    margin: 20px 0;
}
.load-step .step-inner p{
    padding: 1rem;
    background: linear-gradient(#61110c, #a72a32);
    color: #fff;
}
.load-step .loader{
    display:none;
    max-width:40%;
    margin:0rem auto}
.highlight{
    color:#eb6d41}
.btn-block{
    padding:1rem 0;
    text-align:center;
}
.btn{
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    background: linear-gradient(#a72a32, #61110c);
    color: #fff;
    width: 45%;
    margin: 0 1%;
    border-radius: 30px;
}
.btn:hover{
    background: linear-gradient(#61110c, #a72a32);
}
.btn-no{
    background: #06072d;
    color: #fff;
}
.btn-no:hover{
    background: #fff;
    color: #06072d;
}
p.notice{
    text-align:center;
    margin-bottom:1.5rem;
    font-size:1.6rem}
.options{
    max-width:200px;
    margin:0 auto}
.option-item{
    position: relative;
    padding-left: 5rem;
    margin-bottom: 15px;
    cursor: pointer;
    line-height: 3rem;
    text-align: left;
    border-radius: 10px;
    color: #fff;
}
.option-item:before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    margin-left: 10px;
    transform: translateY(35%);
    border-radius: 5px;
}
.option-item.checked {
    background: rgba(255,255,255,0.5);
    border: none;
    margin-bottom: 17px;
    color: #fff;
}
.option-item.checked:before{
    background:#a82a32}

.final-step{
    text-align:left}
@media(max-width:800px){
    html{
        font-size:55%}
}
@media(max-width:600px){
    html{
        font-size:50%}
    .option-item{
        line-height:4rem}
}
