@media only screen and (max-width: 1200px) {
    h1 {
        font: 700 2em 'Raleway', Arial, Helvetica;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 1.4em;
    }
}

@media only screen and (max-width: 979px) {
    h1 {
        font: 700 1.5em 'Raleway', Arial, Helvetica;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 1.4em;
        text-align: center;
    }

    .step {
        margin: 0;
        text-align: center;
    }

    .clock {
        font: 700 2em 'Raleway', Arial, Helvetica;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    h1.pageHeader {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    .container {
        margin-top: 30px;
        width: 100%;
    }

    .question_wrapper p {
        padding: 0;
    }

    .board {
        text-align: center;
        border-radius: 4px;
        width: 100%;
        margin: 0px auto 0 auto;
    }

    .board p {
        margin-top: 30px;
        font-size: 35px;
        line-height: 0px;
        font-family: 'Monoton', cursive;
        color: #222;
        text-transform: uppercase;
    }

    .question_wrapper {
        padding: 0 10px;
    }

    .answer_clicked {
        width: 100%;
        box-sizing: border-box;
    }

    .next_question_button, .previous_question_button, .btn-provider {
        margin: 0 10px 10px 0;
        padding: 20px 30px;
    }

    select.answer_changed {
        font-size: 1.4em;
        line-height: 50px;
        height: 50px;
        padding: 0px 25px 0 10px;
    }

    select.answer_changed option {
        font-size: 0.8em;
    }

    .selectCell:after {
        font-size: 1.4em;
        line-height: 50px;
        height: 50px;
        margin-left: -30px;
        padding: 0 5px;
    }

    .selectLabel {
        font-size: 1.4em;
        line-height: 50px;
        margin: 0 5px;
    }

    .inputTable {
        width: 100%;
        padding-right: 40px;
        box-sizing: border-box;
    }

    input[type=text].answer_changed, input[type=email].answer_changed {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
    }

    #tags-list ul {
        top: 60px !important;
    }

    .voorwaardenCell {
        width: auto;
        display: block;
    }

    .check {
        right: -40px;
        font-size: 2em;
        width: 40px;
    }

    .check .fa {
        line-height: 60px;
    }

    .trustedShields {
        text-align: left;
    }

    h2.questionHeader {
        font-size: 1.4em;
        line-height: 1.4em;
        padding: 0 10px;
    }

    .LPPILOT_Answer_Table.split .selectCell:first-of-type {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    select.answer_changed.small {
        width: 70px;
    }

    .answer_clicked, .next_question_button, .previous_question_button, .btn-provider {
        padding: 20px;
    }

    .inputTable2 h2.questionHeader {
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .inputTable2 .checkmarks {
        margin-bottom: 10px;
    }

    .buttonContainer, .inputTable2 .buttonContainer {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .board p {
        font-size: 28px;
    }

    .next_question_button, .previous_question_button, .btn-provider {
        margin: 0 10px 10px 0;
        padding: 15px 20px;
    }

    .inputTable2 {
        width: 80%;
    }
}
@media (max-height: 567px) {
    .unsubscribe {
        position: static;
    }
}