.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrap{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 30px;
}


.button{
  font-size: 30px;
}
.button.red{
  border: 3px solid red;
}
.button.blue{
  border: 3px solid blue;
}
.button.yellow{
  border: 3px solid yellow;
}
