.container{
    display: flex;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;
    display: table;
}

td {
    border: 1px solid grey;
    width: 50%;
}

tr {
    border: 1px solid grey;
}

.type {
float: right;
}