@import url(https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext);
body{
    overflow-x:hidden;
    font-family:Montserrat,Arial,Helvetica,sans-serif;
    font-size:16px;
    line-height:1.4;
    color:#333;
}
h1,h2,h6{
    text-transform:uppercase
}
h1{
    font-size:2.5rem
}
h2 {
    font-size: 2rem
}
h6{
    font-size:1.4rem}
p{
    font-size:1.6rem;
    text-align:justify;
    text-indent:1.6rem
}
*{
     margin:0;
     padding:0;
     box-sizing:border-box
 }
html{
    font-size:62.5%
}
body,html{
     width:100%;
     height:100%
 }
body{
    min-width:320px;
    background:#fff;
    z-index:0
}

.clearfix:after{
    content:"";
    display:block;
    clear:both
}
.btn{
     transition:all .25s ease
 }

img{
    display:block;
    max-width:100%;
    height:auto
}
.main{
    position:relative;
    width:100%;
    height:100%;
    z-index:1
}
.btnbox{
    display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;min-height:10rem}.btn{width:100%;height:6.5rem;line-height:6.5rem;padding:0 2rem;position:relative;display:inline-block;color:#000;font-size:1.6rem;text-decoration:none;text-transform:uppercase;text-align:center;border-radius:.3rem;box-shadow:0 2px 6px rgba(0,0,0,.4),inset 0 2px 2px hsla(0,0%,100%,.2);cursor:pointer}.btn--primary{color:#fff;background:#3b5998;background-image:linear-gradient(#466ab5,#385591,#466ab5)}.btn--primary:hover{background:#344e86;background-image:linear-gradient(#4c70ba,#3b5998,#4c70ba);box-shadow:0 2px 6px rgba(0,0,0,.3)}.btn--primary:active{background:#3b5998;box-shadow:none}.btn--round.cross{background-color:#e9eaec}.stepbox{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.step,.stepbox{width:100%;height:100%}.step{display:none}.step:first-child{display:block}.step__inner{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background:#fff}.step__header{padding:1.5rem;-ms-flex-preferred-size:50%;flex-basis:50%;background-size:cover;background-repeat:no-repeat;background-position:50%;position:relative}.step__header:before{content:"";display:block;width:100%;height:100%;position:absolute;left:0;top:0;background-image:linear-gradient(rgba(0,0,0,.6),transparent)}.step__header .girl{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.step__header .girl__avatar img{display:inline-block;width:6rem;height:6rem;overflow:hidden;border-radius:100%;border:4px solid #fff;vertical-align:middle}.step__header .girl__avatar span{padding-left:1rem;display:inline-block;vertical-align:middle;color:#fff}.step__header .girl__dots{text-align:right}.step__header .girl__dots a{display:inline-block}.step__header .girl__dots a span{display:inline-block;width:.6rem;height:.6rem;border-radius:100%;background:#fff;position:relative}.step__header .girl__dots a span:after,.step__header .girl__dots a span:before{content:"";display:inline-block;position:absolute;width:inherit;height:inherit;border-radius:inherit;background:inherit;left:0}.step__header .girl__dots a span:before{top:-150%}.step__header .girl__dots a span:after{bottom:-150%}.step__body{padding:1.5rem}.step__body h1,.step__body h2,.step__body h6{margin-bottom:1rem}.step__footer{padding:0 1.5rem;margin-bottom:2rem}.bg{position:fixed!important}.bg,.bg:after{width:100%;height:100%;left:0;top:0;right:0;bottom:0;z-index:0}.bg:after{content:"";display:block;position:fixed;background:linear-gradient(rgba(0,0,0,.9),rgba(59,89,152,.1))}.bg__item{display:none;background-size:cover;background-repeat:no-repeat;background-position:50%;position:absolute;width:100%;height:100%;left:0;top:0;right:0;bottom:0;-webkit-filter:blur(6px);filter:blur(6px)}.bg__item.active{display:block}@media (min-width:375px){html{font-size:62.5%}.step__header{-ms-flex-preferred-size:60%;flex-basis:60%}}@media (min-width:768px){html{font-size:75%}.step__body,.step__header{padding:2.5rem}.step__footer{padding:0 2.5rem}}@media (min-width:992px){.stepbox{padding:2rem 0;max-width:550px;max-height:900px}}
.bg1 {background-image: url("../img/1.jpg");}
.bg2 {background-image: url("../img/2.jpg");}
.bg3 {background-image: url("../img/3.jpg");}
.bg4 {background-image: url("../img/4.jpg");}
.bg5 {background-image: url("../img/5.jpg");}
.bg6 {background-image: url("../img/6.jpg");}