.togglerContainer{
    display: flex;
}
.togglerContainer>.togglerItem:first-child{
    border-radius: 5px 0 0 5px;
}
.togglerContainer>.togglerItem:last-child{
    border-radius: 0 5px 5px 0;
}
.togglerItem{
    padding: 15px 30px;
    box-sizing: border-box;
    background: #f0f8ff;
}
.togglerItem.active{
    background: #ff0000;
}
