*{
    margin:0;
    padding:0
}

body{
    background: url("../img/anim-circles.gif");
    text-align:center;
    font-family:'Open Sans',sans-serif}
h2{
    display:block;
    font-size:40px;
    margin-bottom:15px;
    text-align:center;
    color:#fff}

#first_page h2{
    color: #fff;
}
#popup-wrapper-click{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:999}
#container{
    position:relative;
    width:95%;
    max-width:600px;
    min-width:320px;
    margin:0 auto}
.toggleDiv{
    display:none;
    width:100%;
    padding:8px 5px 5px;
    color:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box}
#first_page{
    display:block;
    text-align:center}
#first_page h2{
    margin-bottom:10px}
#first_page .btnyes{
    position:relative;
    margin-top:10px;
    z-index:9999}
#first_page p > span{
    font-weight:bold;
    color: #914f23;
    text-transform:uppercase;
    text-align: center;
}
.pic-box{
    width:100%;
    max-width:300px;
    height:372px;
    background:url("../img/1331.png") no-repeat center center;
    background-size:103%;
    margin:auto}
#second_page .btns{
    margin-top:20px;
    text-transform:none}
p{
    line-height:1.3;
    font-size:22px;
    color:#fff;
    text-align:left}
p > b{
    text-decoration:underline}
.choose_answer{
    font-size:20px;
    color: #ffffff;
    text-align:center;
}
.answers{
    padding:5px 0;
    text-align:left;
    width:50%;
    min-width:300px;
    margin:0 auto}
.answer_box{
    font-size:22px;
    line-height:1.4}
.answer_box input,.answer_box label{
    cursor:pointer}
.question_header{
    font-size:29px;
    font-weight:bold;
    width:100%;
    text-align:center;
    margin:8px 0 20px;
    color:#914f23}
.circle{
    font-size:23px;
    font-weight:bold;
    border-radius: 30px;
    padding:8px 0;
    width:10%;
    max-width:50px;
    display:inline-block;
    color:#888;
    background:#ececec;
}
.circle_active{
    color:#fff;
    background:#914f23}
.btns{
    display:block;
    font-weight:bold;
    font-size:30px;
    line-height:62px;
    width:100%;
    min-width:200px;
    margin:10px auto 0;
    height:62px;
    border-radius:4px;
    text-transform:uppercase;
    cursor:pointer;
    text-align:center;
    color:#fff;
    text-decoration:none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box}
.btns:hover{
    opacity:0.8}
.final_step p{
    padding-bottom:20px}
.final_step h2{
    text-transform:uppercase}
@media screen and (max-width: 480px){
    h2{
        font-size:25px}
    .question_header{
        font-size:22px}
    #first_page h2{
        margin-bottom:30px}
    p{
        font-size:16px}
    .btns{
        font-size:24px}
    .choose_answer{
        font-size:16px}
    .answer_box{
        font-size:18px}
}
@media screen and (max-height: 480px){
    #first_page h2{
        margin-bottom:20px}
    #first_page .btnyes{
        margin-top:20px}
}
a.button_no {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    user-select: none;
    border: 1px solid rgb(80,32,0);
    border-radius: 50px;
    outline: none;
    background: rgb(171, 171, 171) linear-gradient(rgb(68, 68, 68), rgb(156, 156, 156) 80%);
    box-shadow: 0 6px rgb(68, 68, 68), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
    transition: .2s;
}
.button_no:hover {
    background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button_no:active {
    background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
    box-shadow:
            0 2px rgb(86,38,6),
            0 1px 6px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
a.button19 {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    user-select: none;
    border: 1px solid rgb(80,32,0);
    border-radius: 50px;
    outline: none;
    background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
    box-shadow:
            0 6px rgb(86,38,6),
            0 3px 15px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
    transition: .2s;
}
.button19:hover {
    background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button19:active {
    background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
    box-shadow:
            0 2px rgb(86,38,6),
            0 1px 6px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
